form > div{
  margin:  0.5rem;
  padding: 0.5rem;

  border:1px solid #ddd;
  & label {
    margin-bottom:0.5rem; 
    opacity:0.75;
    display: inline-block;
  border-bottom:1px solid #aaa;

  }
}